/* Mobile First Styles */

body {
  height: 100vh;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #77c4e3, #8176b5);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.email-validation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.email-form {
  width: 300px;
  background-color: rgba(0, 0, 0, .1)
}

.email-validation-input {
  width: 75%;
  margin: 0 15px 30px;
  padding: 12px 10px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  text-align: center;
  box-shadow: 0 0 16px 4px rgba(0,0,0,0.2);
  background-color: #fff;
}

.email-validation-input:focus {
  border: 2px solid #8176b5;
  outline: none;
}

.validation-submit-button {
  background: #f69259;
  color: #fff;
  padding: 10px 30px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 3px;
  transition: all .3s ease 0s;
}

.validation-submit-button:hover {
  background: #f48120;
  cursor: pointer;
}

.validation-submit-button:disabled {
  opacity: .5;
}

.validation-status {
  font-size: 11px;
  color: #FFFF00;
  padding: 24px 0 8px 30px;
  text-align: left;
}

table, th, td {
  border-collapse: collapse;
  border: solid 1px rgba(255,255,255,0.1);
  padding: 5px 30px;
  font-size: 12px;
  margin: 15px auto;
}

.table-left-col {
  text-align: left;
}

thead {
  background-color: rgba(255,255,255,0.3);
}

.validation-header {
  text-align: left;
}

/* Tablet & Desktop Styles */

@media only screen and (min-width: 768px) {
  table, th, td {
    padding: 6px 114px;
    font-size: 15px;
    margin: 15px auto;
  }

  .table-header {
    font-size: 16px;
  }

  .email-form {
    width: 700px;
    background-color: rgba(0, 0, 0, .1)
  }

  .validation-status {
    padding-left: 45px;
  }

  .email-validation-input {
    width: 70%;
    font-size: 18px;
  }

  .validation-submit-button {
    font-size: 18px;
    margin-bottom: 0;
  }
}
